# Submodules
#-----------------


# Generated
#-----------------
build/
site/
shot-*

# Log and configs
#-----------------
*.log
.vscode
config.toml
*~
~*

# Latex:
#-----------------
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.spl
*.synctex.gz
*.tex~

# python:
#-----------------
*.pyc
__pycache__/

# c/c++:
#-----------------
*.o

